body {
    background-color: rgb(247, 238, 231);
}

.container {
    width: 1200px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    width: 400px;
    float: left;
}

.content {
    width: 800px;
    float: right;
}
.clear {
    clear: both;
}

#logo {
    float: left;
    width: 200px;
    height: auto;
    padding: auto;
}
#logo img {
    max-width: 70%;
    height: auto;
}
#menu {
    padding-top: 60px;
    padding-bottom: 60px;
    float: right;
    width: 960px;
}
#menu li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
#menu li a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#blog-content {
    float: right;
    max-width: 380px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#blog-content img {
    float: right;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
#recent-article{
    padding-left: 10px;
    padding-right: 10px;
}
#recent-article {
    padding: 0;
    margin: 0;
    list-style: none;
}